html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.messageout-enter {
  transform: translateY(0%) scale(0.01);
}

/* ending ENTER animation */
.messageout-enter-active {
  transform: translateY(0%) scale(1);
  transition: all 500ms ease-in-out;
}

/* starting EXIT animation */
.messageout-exit {
  transform: translateY(0%) scale(1);
}

/* ending EXIT animation */
.messageout-exit-active {
  transform: translateY(0%) scale(0);
  transition: all 500ms ease-in-out;
}
