@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Staatliches&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Chivo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3 {
  font-family: 'Staatliches', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  max-height: 48px;
}

.logo-container {
  height: 48px;
  width: 218px;
  position: relative;
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  height: 90vh;
}

.carousel .slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.carousel .slide {
  display: inline-block;
  height: 90vh;
  width: 250%;
}

.carousel .slide.fullscreen {
  width: 100%;
  background-position: top left;
  background-size: cover;
  position: relative;
}
